@import '../Global/base';

.wrapper {
    position: relative;

    .item {
        max-width: 100%;
        height: 540px;
    }

    .children {
        position: absolute;
    }

    @media screen and (max-width: 576px) {
        .item {
            height: $myHeightItem-576;
        }
    }
}
