.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    a {
        color: #fff !important;
    }
}

.form {
    // background-color: var(--color-Copper);
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(100px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    min-width: 420px;

    border-radius: 10px;
    padding: 40px 30px;

    color: var(--color-White);

    .btn {
        font-size: 1.6rem;
        width: 100%;
        height: 45px;
        border: none;
        border-radius: 45px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: var(--color-Copper);
        &:hover {
            background-color: var(--color-Copper);
            opacity: 0.8;
        }
        &:active {
            background-color: var(--color-Copper);
        }
    }

    h1 {
        text-align: center;
    }
}

.input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;

    .input {
        font-size: 1.6rem;

        width: 100%;
        height: 100%;

        background-color: transparent;
        border: 2px solid rgba(255, 255, 255, 0.2);
        border-radius: 40px;

        color: #fff;
        padding: 20px 45px 20px 20px;

        &::placeholder {
            color: #fff;
            opacity: 0.7;
        }
        &:focus {
            color: #212529;
            background-color: #fff;
            border-color: #86b7fe;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
        }
    }

    .input-danger {
        font-size: 1.6rem;
        width: 100%;
        height: 100%;

        background-color: transparent;
        border: 2px solid #dc3545;
        border-radius: 40px;

        color: #fff;
        padding: 20px 45px 20px 20px;
        &::placeholder {
            color: #fff;
        }
        &:focus {
            color: #212529;
            background-color: #fff;
            border-color: #86b7fe;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
        }
    }

    .icon {
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.notyfi-danger {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: -5px 0 15px;

    .label-checkbox {
        display: flex;
        align-items: center;
    }

    .input-checkbox {
        margin-right: 10px;
        height: 15px;
        width: 15px;
    }
}

.register-link {
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0 15px;

    a {
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
}
