:root {
    // --size-margin: 184px;
    --size-header: 100%;
    --size-logo: 180px;
    --size-background-header: 1340px;
    --font-size: 1.8rem;
    --height-header: 6.5rem;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    color: var(--color-Sienna);
    background-image: var(--color-Gradient-1);

    height: var(--height-header);
    width: var(--size-header);

    display: flex;
    justify-content: center;
}
.back-ground {
    width: var(--size-background-header);
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 700;
}
.logo {
    width: var(--size-logo);
    height: 6.5rem;
    margin-right: 20px;
}
.menu {
    width: 100%;
    height: 100%;
}

.header_2 {
    width: var(--size-background-header - --size-logo);
    height: 100%;
    margin: auto auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.more-btn1 {
    position: absolute;
    right: 0;
    display: flex;
    height: max-content;

    .lang {
        padding: 0;
        margin: 6px 0;
    }
}

// button

.btn {
    font-weight: 700;
    font-size: var(--font-size);
    margin: 0;
    background-color: transparent;
    color: var(--color-Sienna);

    width: max-content;
    height: min-content;

    padding: 10px 10px;

    border-radius: 10px;
    display: flex;
    justify-content: left;
}
.btn-active {
    @extend .btn;
    color: var(--color-Gray-700);
}
.btn-active-responsive {
    @extend .btn;
    background-color: var(--color-active-btn);
}
.custom-btn {
    display: flex;
    justify-content: center;
    height: 100%;
}
.hover {
    &:hover {
        opacity: 1;
    }
}
// Item menu
.more-menu {
    min-width: 200px;
    .custom-popper {
        background-color: var(--color-Champagne);
    }
}

.menu-list {
    padding: 8px 20px 8px 0px;
    display: flex;
    flex-direction: column;
}

// menu responsive
.btn-bar {
    font-size: var(--font-size);
    display: flex;
    // align-items: end;
    justify-content: flex-start;
}
.menu_responsive {
    display: none;
    margin: 10px 20px;
    cursor: pointer;
}
.more-btn1-responsive {
    display: none;
}

// responsive
@media screen and (max-width: 1240px) {
    .header_2 {
        justify-content: center;
    }
    .btn-bar {
        width: 1125px;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;
        .menu_responsive {
            height: 25px;
            width: 25px;
            display: block;
        }
    }
    .btn {
        width: 100%;
    }
    .custom-btn {
        display: none;
    }
    .logo-responsive {
        width: var(--size-logo);
        height: var(--height-header);
        margin-right: 20px;
    }
    .logo {
        display: none;
    }
    .more-btn1 {
        display: none;
    }
    .more-btn1-responsive {
        width: max-content;
        display: flex;
        cursor: pointer;

        .lang {
            width: max-content;
            padding: 0;
            margin: 6px 0;
        }
    }
}

@media screen and (max-width: 1200px) {
    .btn-bar {
        width: 945px;
    }
}
@media screen and (max-width: 990px) {
    .btn-bar {
        width: 705px;
    }
}
@media screen and (max-width: 770px) {
    .btn-bar {
        width: 100%;
    }
}
// Menu-bar

.menu-list-resposive {
    background-color: var(--color-Champagne);
    padding: 8px 0px;
    display: flex;
    flex-direction: column;
    padding: 0;
}
