.Room{
    margin-top: 10rem;
    margin-bottom: 5rem;
    padding: 0 3.2rem
}
.Intro{
    margin-top: 4rem;
    padding: 0 3.2rem
}
p{
   margin: 1.5rem 0;
   text-align: justify;
  
}
.Col{
    padding: 0 1.6rem !important;
}
h1{
    color: sienna;
}
.imageRoom{
   
    width: 100%;
    height: 419px;
}
.ContentIntro{
    margin-top: 3rem;
    padding: 1.6rem 0;
}
.Search{
    position: fixed;
    background-color: rgb(241, 172, 148);
}
.exit{
    margin-left: 98%
}
.date{
    justify-content: space-evenly;
    display: flex;
}